@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@layer components {
  .max-container {
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
  }

  .hover-menu {
    @apply transition-all duration-700 ease-out hover:text-pink
  }


}


@layer utilities {
  .padding {
    /* @apply md:px-16 px-5 md:pb-24 pb-12 */
    @apply md:px-16 px-5
  }

  .input {
    @apply text-sm border border-pink h-7 rounded-md px-2 focus:outline-none focus:shadow-md
  }

  .hover-mobile-menu {
    @apply transition-all duration-700 ease-out hover:bg-pink hover:text-white
  }
}



